<div class="container mt-4">
  <h1 class="text-center">Template driven form with validation</h1>
  <form #register="ngForm" (ngSubmit)="register.form.valid && registerFn()">
    <div class="mb-3">
      <label for="fName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="fName"
        placeholder="Enter First Name"
        [(ngModel)]="form.fName"
        name="fName"
        #fName="ngModel"
        required
        minlength="5"
        [ngClass]="{ error: fName.errors && fName.touched }"
      />
      <div *ngIf="fName.errors && fName.touched">
        <small class="text-danger" *ngIf="fName.errors['required']"
          >First Name is required</small
        >
        <small class="text-danger" *ngIf="fName.errors['minlength']"
          >Minimum length 5 required</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="Enter Last Name"
        [(ngModel)]="form.lastName"
        name="lastName"
        #lastName="ngModel"
        required
        maxlength="50"
        [ngClass]="{ error: lastName.errors && lastName.touched }"
      />
    </div>
    <div class="mb-3">
      <label for="pan" class="form-label">PAN</label>
      <input
        type="text"
        class="form-control"
        id="pan"
        placeholder="Enter PAN Number"
        [(ngModel)]="form.pan"
        name="pan"
        #pan="ngModel"
        required
        maxlength="50"
        [ngClass]="{ error: pan.errors && pan.touched }"
      />
    </div>
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile</label>
      <input
        type="text"
        class="form-control"
        id="mobile"
        placeholder="Enter Mobile Number"
        [(ngModel)]="form.mobile"
        name="mobile"
        #mobile="ngModel"
        required
        maxlength="12"
        [pattern]="integerRegex"
        [ngClass]="{ error: mobile.errors && mobile.touched }"
      />
      <div *ngIf="mobile.errors && mobile.touched">
        <small class="text-danger" *ngIf="mobile.errors['required']"
          >Mobile number is required</small
        >
        <small class="text-danger" *ngIf="mobile.errors['pattern']"
          >Mobile number must be positive integer</small
        >
      </div>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        placeholder="Enter Age between 18 to 60"
        [(ngModel)]="form.age"
        name="age"
        #age="ngModel"
        required
        [min]="18"
        max="60"
        [pattern]="integerRegex"
        [ngClass]="{ error: age.errors && age.touched }"
      />
      <div *ngIf="age.errors && age.touched">
        <small class="text-danger" *ngIf="age.errors['required']"
          >Age is required</small
        >
        <small
          class="text-danger"
          *ngIf="age.errors['min'] || age.errors['max']"
          >Age must be between 18 to 60</small
        >
      </div>
    </div>
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-success"
        [disabled]="register.form.invalid"
      />
    </div>
  </form>
</div>
